version: "3.8"

services:

  frontend:
    build: ./frontend
    restart: always
    expose:
      - "3000"
    working_dir: /app
    networks:
      - internal
    depends_on:
      backend:
        condition: service_started
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "256M"

  backend:
    build: ./backend
    restart: always
    expose:
      - "8000"
    volumes:
      - ./backend:/app
    networks:
      - internal
    environment:
      - SECRET_KEY=default_secret_key
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=60
      - ADMIN_EMAIL=admin@example.com
      - ADMIN_PASSWORD=admin123
      - MONGODB_URI=mongodb://mongo:27017
    depends_on:
      mongo:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: "512M"
          
  mongo:
    image: mongo:latest
    command: ['mongod', '--quiet']
    restart: always
    expose:
      - "27017"
    networks:
      - internal
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: "512M"
  
  bot:
    build:
      context: ./bot
      args:
        - BROWSER=chromium
    restart: always
    expose:
      - "3000"
    environment:
      APPNAME: Admin
      APPURL: http://proxy:80
      APPURLREGEX: ^http(|s)://.*$
      APPFLAG: COMPFEST17{fake_flag}
      APPLIMIT: 2
      APPLIMITTIME: 60
      USE_PROXY: 1
      DISPLAY: ${DISPLAY}
      BACKEND_URL: http://backend:8000
      APPEMAIL: admin@example.com
      APPPASS: admin123
    networks:
      - internal
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1G

  proxy:
    image: nginx:latest
    restart: always
    ports:
      - 8003:80
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - bot
      - backend
    networks:
      - internal
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 1G

networks:
  internal:
